@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato Italic";
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../fonts/Lato-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font: 400 16px/1.25 "Lato Regular", Arial, sans-serif;
}
.ya-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.ya-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 80px 0 90px;
}
.ya-title__info {
  width: 29%;
  padding-bottom: 70px;
}
.ya-title__info h5 {
  font-family: "Lato Black";
  text-transform: uppercase;
  font-size: 30px;
  color: #00ccff;
}
.ya-title__info h5 span {
  color: #ffae00;
}
.ya-title__info h6 {
  font-family: "Lato Italic";
  font-size: 18px;
  color: #666666;
}
.ya-title__img {
  width: 10%;
}
.ya-title__text {
  width: 60%;
  padding-top: 60px;
  font-family: "Lato Regular";
  font-size: 16px;
  color: #666666;
}
.ya-title-ourteam {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 80px 0 90px;
}
.ya-title-ourteam__info {
  width: 29%;
  padding-bottom: 70px;
}
.ya-title-ourteam__info h5 {
  font-family: "Lato Black";
  text-transform: uppercase;
  font-size: 30px;
  color: #00ccff;
}
.ya-title-ourteam__info h5 span {
  color: #FFF;
}
.ya-title-ourteam__info h6 {
  font-family: "Lato Italic";
  font-size: 18px;
  color: #FFF;
}
.ya-title-ourteam__img {
  width: 10%;
}
.ya-title-ourteam__text {
  width: 60%;
  padding-top: 60px;
  font-family: "Lato Regular";
  font-size: 16px;
  color: #FFF;
}
.ya-header {
  background-image: url("../images/bg-header.jpg"), url("../images/pixel.png");
  background-position: bottom, top;
  background-repeat: no-repeat, repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-bottom: 6%;
  height: 1032px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.ya-header__top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.ya-header__logo {
  display: inline-block;
  margin-top: 24px;
}
.ya-header__logo:hover {
  transform: scale(1.1);
}
.ya-header__scroll:hover {
  opacity: .5;
}
.ya-header__logo--big {
  align-self: center;
  display: inline-block;
  margin-top: 24px;
}
.ya-header__menu {
  display: inline-block;
  padding-top: 35px;
  float: right;
}
.ya-header__item {
  display: inline-block;
  font: ;
  color: #fff;
  margin-left: 50px;
}
.ya-header__item:hover {
  color: #00ccff;
  transform: scale(1.25);
  text-decoration: underline;
}
.ya-header p {
  font-size: 22px;
}
.ya-header__title {
  font-family: "Lato Bold";
  text-transform: uppercase;
  font-size: 22px;
}
.ya-header__subtitle {
  width: 65%;
  margin: 0 auto;
}
.ya-container--flex-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-direction: column;
}
.ya-aboutus__nav {
  margin: 5% 0%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.ya-aboutus__nav--item {
  margin-right: 2px;
  height: 60px;
  width: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
  background-color: #cccccc;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  font-size: 20px;
  font-family: "Lato Regular";
}
.ya-aboutus__nav--item:hover {
  color: white;
  background-color: #00ccff;
}
.ya-table,
.ya-table__col--text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.ya-table__separator--vertical {
  width: 1px;
  height: 7em;
  align-self: center;
  background-color: #999999;
}
.ya-table__separator--horizontal {
  width: 25vh;
  height: 1px;
  background-color: #999999;
}
.ya-table__row,
.ya-table__col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-direction: row;
}
.ya-table__col {
  padding: 5% 2%;
  width: 48%;
}
.ya-table__col--img {
  width: 100px;
  height: 100px;
  background-color: #00ccff;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
  font-size: 60px;
  cursor: pointer;
}
.ya-table__col--img:hover {
  background-color: #cccccc;
}
.ya-table__col--img:hover i {
  transform: scale(1.05);
}
.ya-table__col--img .fa {
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
}
.ya-table__col--text {
  width: 60%;
}
.ya-table__col--text h3 {
  font-size: 20px;
  font-family: "Lato Bold";
  color: #333333;
}
.ya-table__col--text h4 {
  font-size: 20px;
  font-family: "Lato Bold";
  color: #ffae00;
}
.ya-table__col--text p {
  color: #999999;
}
.ya-container-ourskills {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 7.5%;
  height: 100%;
  margin: 0 auto;
  color: #666666;
}
.ya-container-ourskills > h2 {
  font-size: 24px;
  font-family: "Lato Black";
  text-transform: uppercase;
}
.ya-container-ourskills > p {
  margin: 5% 0%;
  width: 50%;
  text-align: center;
}
.ya-ourskills {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.ya-ourskills .ya-ourskills__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.ya-ourskills .ya-ourskills__item h2 {
  margin: 30px 0px;
  text-transform: uppercase;
}
.ya-ourskills .ya-ourskills__item p {
  color: #999999;
}
.ya-ourskills .ya-ourskills__diagram {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-family: "Lato Black";
  background: #F7F7F7;
  width: 150px;
  height: 150px;
  text-align: center;
  border: 15px solid #00ccff;
  border-right: 15px solid #cccccc;
  border-radius: 100px;
  cursor: pointer;
}
.ya-ourskills .ya-ourskills__diagram:hover {
  color: #00ccff;
}
.ya-ourteam {
  background-color: #F7F7F7;
  background-image: url("../images/bg-team.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  padding: 10% 7.5%;
  height: 1082px;
  margin: 0 auto;
  color: white;
}
.ya-ourteam .ya-section__header span,
.ya-ourteam .ya-section__header h6 {
  color: white;
}
.ya-ourteam__details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.ya-ourteam__details--item {
  width: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.ya-ourteam__details--item h4 {
  color: #00ccff;
  font-size: 12;
}
.ya-team__member {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.ya-team__member:hover {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}
.ya-team__member:hover .fa {
  display: inline;
}
.ya-team__member .fa {
  font-size: 2em;
  color: #999999;
  display: none;
}
.ya-team__member .fa:hover {
  color: #00ccff;
}
.ya-team__member1 {
  background-image: url("../images/face1.png");
}
.ya-team__member2 {
  background-image: url("../images/face2.png");
}
.ya-team__member3 {
  background-image: url("../images/face3.png");
}
.ya-team__member4 {
  background-image: url("../images/face4.png");
}
.ya-section-ourwork,
.ya-section-testimonial {
  background-color: #FFF;
}
.ya-grid {
  padding: 5% 0;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  color: #333333;
}
.ya-grid__row {
  margin: 0.5% 0%;
  height: 484px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-direction: row;
}
.ya-grid__col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.ya-grid__col:hover {
  opacity: 0.7;
}
.ya-grid__col:hover button {
  opacity: 1;
  padding: 10px 10px 10px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  font-family: "Lato Regular";
  font-size: 30px;
}
.ya-grid__col13 {
  width: 32.5%;
}
.ya-grid__col12 {
  width: 66.2%;
}
.ya-col__title {
  font-family: "Lato Light";
  font-size: 48px;
}
.ya-col__subtitle {
  font-family: "Lato Regular";
  font-size: 24px;
}
.ya-col__btn {
  padding-top: 40px;
}
.ya-col__btn button {
  opacity: 0;
}
#ya-col__pic1 {
  background: url(../images/big-pic-1.jpg) center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ya-col__pic2 {
  background: url(../images/big-pic-2.jpg) center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ya-col__pic3 {
  background: url(../images/big-pic-3.jpg) center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ya-col__pic4 {
  background: url(../images/big-pic-4.jpeg) center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ya-col__pic5 {
  background: url(../images/big-pic-5.jpg) center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ya-section-recentwork,
.ya-section-pricing {
  background-color: #F7F7F7;
}

.ya-recentwork {
  padding: 125px 0 145px;
  text-align: center;
}
.ya-recentwork__title {
  font-family: "Lato Black";
  font-size: 24px;
  color: #666666;
  text-transform: uppercase;
}
.ya-recentwork__subtitle {
  padding-top: 25px;
  font-family: "Lato Regular";
  font-size: 24px;
  color: #333333;
}
.ya-recentwork__btn {
  text-align: center;
  padding: 10px 30px 10px;
  background-color: #00ccff;
  border: 1px solid #00ccff;
  color: #FFF;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ya-recentwork__btn:hover {
  background-color: #F7F7F7;
  color: #00ccff;
}
.ya-recentwork__nav {
  padding-top: 90px;
.ya-grid--recentwork {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
.ya-recentwork__nav li {
  list-style: none;
  margin-right: 5px;
  font-family: "Lato Regular";
  font-size: 14px;
  line-height: 1.43;
}
.ya-recentwork__nav li:hover {
  transform: scale(1.1);
}
.ya-recentwork__nav li a {
  color: #333333;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px 10px;
}
.ya-recentwork__nav li a:hover {
  background-color: #f1f1f1;
}
.ya-grid--recentwork {
  width: 80%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
[class*="ya__row-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1%;
  height: 50%;
}
.ya-row-1-3 {
  width: 33.333%;
}
.ya-row__box {
  width: 299px;
  margin-right: -5px;
  position: relative;
  cursor: pointer;
  background: black;
  opacity: 1;
}
.ya-row__box:hover img {
  opacity: 0.3;
}
.ya-row__box:hover .ya-row__text {
  opacity: 1;
}
.ya-row__box img {
  margin-bottom: -5px;
  -o-fit-object: cover;
}
.ya-row__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin: auto;
  opacity: 0;
}
.ya-row__info {
  width: 100%;
}
.ya-row__title {
  padding: 30px 0 12px;
  font-family: "Lato Bold";
  font-size: 16px;
  color: #333333;
}
.ya-row__subtitle {
  padding-bottom: 50px;
  font-family: "Lato Regular";
  font-size: 14px;
  color: #333333;
}
.ya-section-tweets,
.ya-section-quote {
  background-color: #F7F7F7;
  background-image: url("../images/bg-team.png");
  height: 1082px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ya-tweets {
  height: 100%;
  padding-top: 300px;
  text-align: center;
}
.ya-tweets__title {
  width: 80%;
  margin: 0 auto;
  padding-top: 90px;
  font-size: 18px;
  color: #FFF;
}
.ya-tweets__subtitle {
  font-size: 22px;
  color: #FFF;
}
.ya-tweets__subtitle span {
  color: #00ccff;
}
.ya-tweets__divider {
  padding: 95px 0 25px;
}
.ya-tweets__circle {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #cccccc;
  cursor: pointer;
}
.ya-tweets__circle:hover {
  background-color: #999999;
}
.ya-section-testimonial a {
  opacity: 0.5;
  margin: 40px;
}
.ya-section-testimonial a:hover {
  opacity: 1;
}
.ya-testimonial__client {
  padding-bottom: 60px;
}
.ya-testimonial__divider {
  padding: 75px 0 195px;
  text-align: center;
}
.ya-testimonial__circle {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #cccccc;
  cursor: pointer;
}
.ya-testimonial__circle:hover {
  background-color: #999999;
}
.ya-testimonial__box {
  width: 30%;
  margin: 15px;
  display: inline-block;
  padding: 2% 2%;
  background-color: #f7f7f7;
  color: #999999;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ya-testimonial__box:hover {
  transform: scale(1.1);
}
.ya-testimonial__box blockquote {
  width: 90%;
  font-family: "Lato Italic";
  font-size: 16px;
  line-height: 1.43;
}
.ya-testimonial__box-divider {
  height: 45px;
  position: relative;
}
.ya-testimonial__box-divider:before,
.ya-testimonial__box-divider:after {
  content: '';
  position: absolute;
  width: 275px;
  height: 1px;
  top: 50%;
  background-color: #999999;
}
.ya-testimonial__box-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.ya-testimonial__box-text img {
  padding-right: 10px;
}
.ya-testimonial__box-name {
  font-family: "Lato Regular";
  font-size: 14px;
  color: #00ccff;
}
.ya-testimonial__box-name span {
  color: #999999;
  font-size: 12px;
}
.ya-pricing-box {
  width: 22%;
  display: inline-block;
  margin-bottom: 140px;
  background-color: #F7F7F7;
  text-align: center;
  margin-right: 25px;
  margin-top: 5%;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato Bold";
  font-size: 22px;
  color: #FFF;
}
.ya-pricing-box:hover {
  transform: scale(1.1);
}
.ya-pricing-box__title {
  background-color: #00ccff;
  padding: 25px 60px 30px 60px;
  font-size: 22px;
  color: #FFF;
}
.ya-pricing-box__info {
  background-color: #F7F7F7;
  font-family: "Lato Regular";
  font-size: 14px;
  line-height: 2.86;
  color: #333333;
}
.ya-pricing-box__info-price {
  font-size: 60px;
  color: #333333;
}
.ya-pricing-box__info-price sup {
  font-size: 36px;
}
.ya-pricing-box__info-price sub {
  font-size: 12px;
}
.ya-pricing-box__info span {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
.ya-pricing-box__info button {
  margin: 45px 0 20px;
  padding: 12px 25px;
  border: 2px solid #333333;
  background-color: transparent;
  color: #333333;
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-size: 11px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ya-pricing-box__info button:hover {
  background-color: #00ccff;
  border: 2px solid #00ccff;
  color: #FFF;
}
.ya-quote {
  height: 100%;
  padding-top: 350px;
  text-align: center;
  color: #FFF;
  font-size: 18px;
}
.ya-quote__title {
  width: 80%;
  margin: 0 auto;
  padding: 90px 0 60px;
}
.ya-quote__divider {
  padding: 35px 0px 235px;
}
.ya-quote__circle {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #cccccc;
  cursor: pointer;
}
.ya-quote__circle:hover {
  background-color: #999999;
}
input[type="text"] {
  outline: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #cccccc;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 10px;
}
input[type="submit"] {
  outline: none;
}
.ya-contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 80px 0 160px;
}
.ya-contact__form {
  width: 95%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: "Lato Regular";
  font-size: 16px;
  color: #cccccc;
}
.ya-contact textarea {
  outline: none;
  width: 100%;
  height: 160px;
  font-size: 16px;
  color: #cccccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #cccccc;
  padding: 15px 0 0 15px;
}
.ya-contact-form__text,
.ya-contact-form__email {
  width: 49%;
}
.ya-contact-form__subject {
  width: 100%;
}
.ya-contact-form__btn {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #00ccff;
  border: 2px solid #00ccff;
  color: #FFF;
}
.ya-contact-form__btn:hover {
  cursor: pointer;
  background-color: #FFF;
  border: 2px solid #cccccc;
  color: #999999;
}
.ya-contact-box {
  width: 49%;
  font-family: "Lato Regular";
  font-size: 16px;
  line-height: 1.4;
  color: #666666;
}
.ya-contact-box__title {
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
.ya-contact-box__subtitle {
  margin-bottom: 40px;
}
.ya-contact-box__item {
  padding-bottom: 20px;
}
.ya-social {
  text-align: center;
  padding: 50px 0 40px;
  background-color: #2f2e2e;
}
.ya-social a {
  color: #FFF;
}
.ya-social i {
  font-size: 35px;
  color: #FFF;
  margin-left: 35px;
}
.ya-social i:hover {
  color: #00ccff;
  transform: scale(1.25);
}
.ya-footer {
  padding: 30px 0 35px;
  margin: 0 auto;
  background-color: #00ccff;
  text-align: center;
}
.ya-footer__text {
  font-family: "Lato Bold";
  font-size: 16px;
  color: #FFF;
}
.ya-footer__text span {
  color: #0e97b9;
}
.fa-map-marker,
.fa-phone,
.fa-envelope-o,
.fa-clock-o {
  color: #666666;
  font-size: 20px;
  margin-right: 15px;
}
.fa-twitter,
.fa-quote-right {
  font-size: 85px;
  color: #00ccff;
}
.fa-twitter:hover,
.fa-quote-right:hover {
  transform: scale(1.15);
  color: #FFF;
}
.fa-search {
  font-size: 20px;
  color: #00ccff;
}
.fa-link {
  font-size: 20px;
  color: #7d7b79;
}
