//Fonts

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
} 

@font-face {
    font-family: "Lato Italic";
    src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}

//Variable
@dark-grey-color: #333333;
@light-grey-color: #999999;
@yellow-color: #ffae00;
@blue-color: #00ccff;
@button-color: #FFF;

@display-inline-block: inline-block;

@thin-font: 100;
@light-font: 300;
@regular-font: 400;
@medium-font: 500;
@semibold-font: 600;
@bold-font: 700;
@black-font: 900;

@text-align-justify: justify;
@text-align-center: center;
@cursor-pointer: pointer;

// flex-params
@justify:space-between;
@align:center;
@direction:column;

//Mixins
.transition() {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border-radius-3px() {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.border-radius() {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.background-size-cover() {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.display-flex(@direction, @justify, @align) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
   -webkit-justify-content: @justify;
    justify-content: @justify;
    
   -webkit-align-items: @align;
    align-items:@align;
    
    flex-direction:@direction;
    
    
}

.flex-options-center() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.flex-options-space() {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

//Global
* {
    margin: 0;
    padding: 0;
    .transition(); //using the mixin
    .box-sizing(); //using the mixin  
}

a {
    text-decoration: none;
}

body {
    font: 100 10px/1.5 "", Arial, sans-serif;
    background-color: @light-grey-color;
}




// Header
.ya-header {
    background: url(../images/bg-header.jpg) 100% no-repeat;
    background-image: url("../images/pixel.png") repeat;
    .background-size-cover(); //using the mixin
    color: #fff;
    text-align: center;
    // padding: 200px 0 200px;
    // min-height: 100vh;
    height:1032px;
    .display-flex(@direction, @justify, @align);
    
    &__top{
        .display-flex(@direction:row, @justify, @align);
    }

    &__logo {
        display: inline-block;
    	margin-top: 24px;
    }

    &__logo--big {
        align-self:center;
        display: inline-block;
        margin-top: 24px;
    }

    &__menu {
    	display: inline-block;
    	padding-top: 35px;
    	float: right;
    }
    &__item {
    	display: inline-block;
    	font: ;
    	color: #fff;
    	margin-left: 50px;
    	&:hover {
    		color: #fff;
    		transform: scale(1.25);
    	}
    	&:hover a {
    		text-decoration: underline;
    	}
    &__title {
    	font: 500 50px/0.5 "", Arial, sans-serif;
    }
    &__button {
    	cursor: @cursor-pointer;
    }
  }

  p{
      font-size:22px;
  }
}

.ya-container {
    width: 85%;
    height:100%;
    margin: 0 auto;
    .display-flex(@direction, @justify, @align:stretch);
}


//Services

//Portfolio

.ya-grid {
    width: 85%;
    height: 500px;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
   	.display-flex(@direction, @justify, @align); //using the mixin
    flex-flow: row wrap;
    align-content: space-around;
}

[class*="ya__row-"] {
    .box-sizing();
    padding: 1%;
    height: 50%;
}

.ya__row {
	&-1-3 {
		width: 33.3%;	
	}
	&-1-2 {
		width: 66.6%;
	}
	&__img {
		width: 100%;
	}
}


//Brands


//Testimonials


//Contact

input[type="text"] {
    border: none;
    outline: none;
}

input[type="submit"] {
    outline: none;
    border: none;
}

.ya-NAME-form__btn {
    font-weight: @bold-font;
    font-size: 20px;
    line-height: 1.5;
    color: #FFF;
    background-color: #FFF;
    text-transform: uppercase;
    padding: 12px 12px;
    cursor: @cursor-pointer;
    .border-radius-3px(); //using the mixin
}


//Footer

.ya-footer {
    width: 85%;
    margin: 0 auto;
    padding: 35px 0 35px;
    color: #999999;
}

.ya-footer__text {
    display: @display-inline-block;
}

.ya-footer__icons {
    display: @display-inline-block;
    float: right;
}

.ya-footer__icons-img {
    opacity: 0.5;
}