//Fonts

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
} 

@font-face {
    font-family: "Lato Italic";
    src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}

//Variable
@dark-grey-color: #333333;
@light-grey-color: #999999;
@grey-color: #666666;
@yellow-color: #ffae00;
@blue-color: #00ccff;
@button-color: #FFF;

@display-inline-block: inline-block;

@thin-font: 100;
@light-font: 300;
@regular-font: 400;
@medium-font: 500;
@semibold-font: 600;
@bold-font: 700;
@black-font: 900;

@text-align-justify: justify;
@text-align-center: center;
@cursor-pointer: pointer;

// flex-params
@justify:space-between;
@align:center;
@direction:column;

//Mixins
.div-skewX(){
    -webkit-transform: skewX(-15deg); 
    -moz-transform: skewX(-15deg); 
    -ms-transform: skewX(-15deg); 
    -o-transform: skewX(-15deg); 
    transform: skewX(-15deg); 
}

.transition() {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border-radius-3px() {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.border-radius() {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.background-size-cover() {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.display-flex(@direction, @justify, @align) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
   -webkit-justify-content: @justify;
    justify-content: @justify;
    
   -webkit-align-items: @align;
    align-items:@align;
    
    flex-direction:@direction;
    
    
}

.flex-options-center() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.flex-options-space() {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

//Global
* {
    margin: 0;
    padding: 0;
    .transition(); //using the mixin
    .box-sizing(); //using the mixin  
}

a {
    text-decoration: none;
}

body {
    font: 400 16px/1.25 "Lato Regular", Arial, sans-serif;
    // background-color: @light-grey-color;
}




// Header
.ya-header {
    background-image: url(../images/bg-header.jpg), url("../images/pixel.png");
    background-position: bottom, top;
    background-repeat: no-repeat, repeat;
    .background-size-cover(); //using the mixin
    color: #fff;
    text-align: center;
    // min-height: 100vh;
    height:1032px;
    .display-flex(@direction, @justify, @align);
    
    &__top{
        .display-flex(@direction:row, @justify, @align);
    }

    &__logo {
        display: inline-block;
    	margin-top: 24px;
    }

    &__logo--big {
        align-self:center;
        display: inline-block;
        margin-top: 24px;
    }

    &__menu {
    	display: inline-block;
    	padding-top: 35px;
    	float: right;
    }

    &__item {
    	display: inline-block;
    	font: ;
    	color: #fff;
    	margin-left: 50px;
    	&:hover {
    		color: #fff;
    		transform: scale(1.25);
    	}
    	&:hover a {
    		text-decoration: underline;
    	}
    }

    p{
        font-size:22px;
    }

    &__title {
        font-family: "Lato Bold";
        text-transform: uppercase;
        font-size:22px;
    }
}

.ya-container--flex-col{
    .display-flex(@direction, @justify, @align:stretch);
    
}

.ya-container {
    width: 85%;
    height:100%;
    margin: 0 auto;
}

.ya-section__header,
.ya-ourwork__text{
    width:30%;
    h5{
        font-family: "Lato Black";
        text-transform: uppercase;
        font-size:30px;
        color:@blue-color;
        span{
            color:@yellow-color;
        }
    }
    h6{
        font-family: "Lato Italic";
        font-size:18px;
        color: @grey-color;
    }
}

.ya-aboutus__header{
    margin-top:5%;
    .display-flex(@direction:row, @justify, @align);
}

.ya-aboutus__nav{
    margin: 5% 0%;
    .display-flex(@direction:row, @justify:flex-start, @align);
}


.ya-aboutus__nav--item{
    margin-right:2px;
    height:60px;
    width:150px;
    .display-flex(@direction:row, @justify:center, @align);
    background-color: #cccccc;
    .div-skewX();
    font-size:20px;
    font-family: "Lato Regular";

    &:hover{
        color:white;
        background-color:@blue-color;
    }
}

.ya-aboutus__tab,
.ya-aboutus__col--text{
    .display-flex(@direction, @justify, @align);
}

.ya-aboutus__row,
.ya-aboutus__col{
    .display-flex(@direction:row, @justify, @align);
}

.ya-aboutus__col{
    padding:5% 2%;
    
    &--img{
        width:100px;
        height:100px;
        background-color:#cccccc;
        .div-skewX();
        color:white;
        .display-flex(@direction:row, @justify:space-around, @align);
        font-size: 60px;

        &:hover{
            background-color:@blue-color;
        }
    }
}

.fa{
    transform:none;
}

.ya-aboutus__col--text{
    width:60%;
    
}


//Services

//Our Work

.ya-section-ourwork {
    background-color: #FFF;
}

.ya-grid {
    width: 100%;
    // height: 500px;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    .display-flex(); //using the mixin
    flex-flow: row wrap;
    align-content: space-around;
    color: @dark-grey-color;
}

[class*="ya__row-"] {
    padding: 2%;
    // height: 50%;
}

.ya-row {
    height: 100%;
	&-1-3 {
		width: 30%;
        
	}
	&-1-2 {
		width: 60%;
	}

    &__pic1 {
         background: url(../images/big-pic-1.jpg) center no-repeat;
        .background-size-cover();
    }
    &__pic2 {
        background: url(../images/big-pic-2.jpg) center no-repeat;
        .background-size-cover();
    }
    &__pic3 {
        background: url(../images/big-pic-3.jpg) center no-repeat;
        .background-size-cover();
    }
    &__pic4 {
        background: url(../images/big-pic-4.jpeg) center no-repeat;
        .background-size-cover();
    }
    &__pic5 {
        background: url(../images/big-pic-5.jpg) center no-repeat;
        .background-size-cover();
    }
    &__title {
        font-family: "Lato Light";
        font-size: 48px;
    }
    &__subtitle {
        font-family: "Lato Regular";
        font-size: 24px;
    }
}


//Brands


//Testimonials


//Contact

input[type="text"] {
    border: none;
    outline: none;
}

input[type="submit"] {
    outline: none;
    border: none;
}

.ya-NAME-form__btn {
    font-weight: @bold-font;
    font-size: 20px;
    line-height: 1.5;
    color: #FFF;
    background-color: #FFF;
    text-transform: uppercase;
    padding: 12px 12px;
    cursor: @cursor-pointer;
    .border-radius-3px(); //using the mixin
}


//Footer

.ya-footer {
    width: 85%;
    margin: 0 auto;
    padding: 35px 0 35px;
    color: #999999;
}

.ya-footer__text {
    display: @display-inline-block;
}

.ya-footer__icons {
    display: @display-inline-block;
    float: right;
}

.ya-footer__icons-img {
    opacity: 0.5;
}

#blue-diagonal {
    width: 43.969px;
    height: 119px;
    & .cls-1 {
        fill: #0cf;
        fill-rule: evenodd;
    }
}

#yellow_diagonal {
    width: 44.844px;
    height: 119px;
    & cls-1 {
       fill: #ffae00;
        fill-rule: evenodd; 
    }
}

#short-blue-diagonal {
    width: 28.969px;
    height: 58px;
    & .cls-1 {
        fill: #0cf;
        fill-rule: evenodd;
    }
}